
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --chart-1: 0 84% 60%;
    --chart-2: 25 95% 53%;
    --chart-3: 210 90% 55%;
  }

  .dark {
    --chart-1: 0 84% 65%;
    --chart-2: 25 90% 60%;
    --chart-3: 210 85% 65%;
  }
}